<h1>Update <%= @product.product_name() %> </h1>
<div class="form-group">
  <form action="/manager/<%= @product.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="product_name">New Product Name</label>
    <input id="product_name" class="form-control" name="product_name" type="text" placeholder="New Name">

    <label for="product_price">New Product Price</label>
    <input id="product_price" class="form-control" name="product_price" type="text" placeholder="New Price">
    <br>
    <label for="category_id">Select Category</label>
    <select id='category_id' name='category_id' type='text' class='form-control'>
    <% @categories.each() do |category| %>
      <option value="<%= category.id()%>"> <%= category.name() %> </option>
    <% end %>
    </select>
    <br>
    <button type="submit" class ="btn btn-success">Update</button>
  </form>
</div>

<table class="table table-bordered table-hover" id="table_id">
  <thead>
    <tr class="active">
      <th> Current Product Name </th>
      <th> Current Product Price </th>
      <th> Current Category </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @product.product_name() %> </td>
      <td> $<%= @product.product_price() %> </td>
      <td> <%= @product.category.name() %> </td>
    </tr>
  <tbody>
</table>
<a class="btn btn-info" href="/manager" role="button">Manager</a>
